/* * {
    border: black solid;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.main {
    height: 600px;
    width: 500px;
}

.title {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.canvas {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: green;
    box-shadow: 0 0 50px green;
}

.canvas > * {
    border: 1px rgb(46, 228, 85) solid;
    box-shadow: 0 0 10px rgb(46, 228, 85);
}

.text {
    font-family: 'VT323', monospace;
    font-size: 50px;
    color:rgb(5, 190, 5);
    text-shadow: green 1px 1px 15px;
}

.inputs {
    width: 150px;
    height: 250px;
    align-self: center;
}