/* * {
    border: black solid;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.main {
    height: 600px;
    width: 500px;
}

.title {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 50px #05BE05;
}

.canvas > * {
    border: 1px #393B39 solid;
    background-color: black;
    opacity: .8;
}

.text {
    font-family: 'VT323', monospace;
    font-size: 50px;
    color:rgb(5, 190, 5);
    text-shadow: #05BE05 1px 1px 15px;
}

.inputs {
    width: 150px;
    height: 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#reset {
    color:#05BE05;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-shadow: #05BE05 1px 1px 5px;
    border: none;
    background-color: black;
    padding: 0;
}

#reset:hover {
    text-decoration: currentColor dotted underline 1px;
}

.colors {
    display: flex;
    gap: 5px;
}

.green {
    color: rgb(46, 228, 85);
    text-shadow: rgb(46, 228, 85) 1px 1px 5px;
}

.red {
    color: #F33B1B;
    text-shadow: #F33B1B 1px 1px 5px;
}

.yellow {
    color: #EBFF0F;
    text-shadow: #EBFF0F 1px 1px 5px;
}

.blue {
    color: #27EBF6;
    text-shadow: #27EBF6 1px 1px 5px;
}

.eraser {
    color: white;
    text-shadow: white 1px 1px 5px;
}

.colors>*:hover {
    text-decoration: currentColor dotted underline 1px;
}

input[type="range"] {
    background-color: #05BE05;
}